/*COLORS*/

$primaryColor : orange;
$secondaryColor : rgb(46, 46, 148);
$textColor : Black;


/*FONT-FAMILY*/

$fontMainText: helvetica, arial, sans-serif;
$fontBigTitle: cambria, georgia, sans-serif;

/*FONT-SIZE*/

$bigTitleSize : 3rem;
$textSize : 3rem;